# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Software_Arch\Linz_Module_6_7_8_Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
